.chart {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.favourited span {
  content: "Favourited";
}

.favourited:hover span {
  display: none;
}

.favourited:hover:after {
  content: "Unfavourite";
}
/*# sourceMappingURL=style.css.map */